@charset "UTF-8";
/* Global */
:root{
	/* Color */
	--color-black: #000000;
	--color-dark-white: #eee;
}
*{box-sizing: border-box;}
#container{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
footer{margin-left: 25%;}
.msg{
	height: 140px;
	background: pink;
	line-height: 60px;	
}
.title{
	height: 140px;
	font-size: 1.4em;
	background-color: #eee;
	line-height: 5.6em;
	margin-bottom: 50px;
}
nav{
	text-align: right;
	margin-top: 30px;
	margin-right: 20px;
}
nav ul{list-style: none;}
nav ul li{
	display: inline;
	margin-left: 20px;
	padding: 5px 10px;
	border-top: 2px solid black;
	line-height: 10px;
}
nav ul li:hover{background-color: #eee;}
nav ul li a{
	text-decoration: none;
	color: black;
	padding: 5px 10px;
}
#navbar.navbar--dark{
    background-color: #c8d6e5;
    padding: 8px;
}
form{
	text-align: center;
}
table, th, td, #memberForm__table-FstColumn{
	text-align: center;
	border: 1px solid var(--color-black);
	border-collapse: collapse;
}
table{
	width: 600px;
	margin: 0 auto;
}
th, td{
	height: 30px;
	padding: 10px 10px;
}
.table2, th, td{
	text-align: center;
	border: 1px solid var(--color-black);
	border-collapse: collapse;
}
.table2{
	width: 700px;
	margin: 0 auto;
}
.table2 .write__title{
	width: 645px;
	height: 40px;
	
}
.table2 textarea{
	width: 95%;
	height: 300px
}
.table2 #board__textarea{
	width: 100%;
	height: 300px;
	border: 0px;
}
#table__board{width: 700px}
#memberForm__table-FstColumn{
	height: 80px;
	background-color: #eee;
}
input[type="text"], input[type="password"]{
	width: 200px;
	height: 30px;
}
#table__board .table__board-tr:hover {background-color: #eee;}
.title__title{background-color: #c8d6e5;}
#table1 .thead{background-color: #c8d6e5}
#table1{width: 600px;}
.search-form{
	padding-left: 310px;
	margin-bottom: 10px;
}
.page-number li{
	list-style: none;
	display: inline;
}
.page-number li a{
	text-decoration: none;
}
.page-style{
	color: blue;
	font-weight: bold;
}
/* #table3 td:nth-child(2n-1){width: 30px} */
/* #table3 td:nth-child(2n){text-area:left; text-indent:10px;} */
.dropbtn {
	font-size: 1em;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	font-size: 0.8em;
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #c8d6e5;}